*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.dark-mode-event{
    transition: 0.5s all;
    filter: invert(0.9);
}
.light-mode-event{
    transition: 1s all;
}
.not{
    filter: invert(1);
}
.not-p{
    color: white;
}
.dark-mod-a {
    color: black; /*  buraya black dedim çünkü dark mode olunca invert etcek ve beyaz olcak amacım da zaten beyaz olması  */
}
.dark-mode-h1{
    filter: invert(0.7); /*  buraya black dedim çünkü dark mode olunca invert etcek ve beyaz olcak amacım da zaten beyaz olması  */
}
body{
    background-color:  #ffffff;
}
header{
    background-color: #ffffff;
}
aside{
    background-color: #fefeff;
}
aside ul li{
    margin: 10px 0;
    padding-top: 3px;
    border-radius: 0.2rem;
}
aside ul li a{
    width: 100%;
    display: inline-block;
    height: 100%;
    color: #002745;
}
aside ul li:hover{
    background-color: #f6f6fc;
}
.user-dropdown{
    visibility: hidden;
    opacity: 0;
    transition: 300ms all;
}
.user-dropdown.active{
    visibility: visible;
    opacity: 1;
}